@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.doublelit {
    background-image: url('hebergements/4_small/doublelit.jpg');
}

.litfenetre {
    background-image: url('hebergements/4_small/litfenetre.jpg');

}

.dressing {
    background-image: url('hebergements/4_small/dressing.jpg');

}

.tableau {
    background-image: url('hebergements/4_small/tableau.jpg');
}

.chalet {
    background-image: url('hebergements/4_small/chalet.jpg');
}

.fenetre {
    background-image: url('hebergements/4_small/fenetre.jpg');
    background-size: cover;
    background-position-y: 50%;
}

.vert {
    background-image: url('hebergements/4_small/vert.jpg');
}

.creatif {
    background-image: url('hebergements/4_small/creatif.jpg');
}

.litbois {
    background-image: url('hebergements/4_small/litbois.jpg');
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
}

.port {
    background-image: url('activites/4_small/port.jpg');
    background-size: cover;
    background-position-x: 48%;
}

.fort {
    background-image: url('activites/4_small/fort.jpg');
    background-position-x: 48%;
    background-size: cover;
}

.parc {
    background-image: url('activites/4_small/parc.jpg');
    background-position-x: 48%;
    background-size: cover;
}

.cathe {
    background-image: url('activites/4_small/cathe.jpg');
    background-position-x: 48%;
    background-size: cover;
}

* {
    font-family: 'Raleway', sans-serif;
}

body {
    max-width: 1400px;
    background-color: white;
    margin: auto;

}

header {
    background-color: white;
}

main {
    background-color: white;
    margin: auto;
}

footer {
    background-color: white;
}

a {
    text-decoration: none;
    color: black;
}

.d-flex {
    display: flex;
}

.navbar-logo {
    margin-right: auto;
    margin-top: 48px;
}

.ms-auto {
    margin-left: auto;
}

.navbar {
    padding-bottom: 20px;
}

.navbar img {
    width: 61.09px;
    height: 19px;
    margin: auto 0 0 55px;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.navbar li {
    margin-right: 77px;
    font-weight: 400;
    font-size: 16px;
    color: black;
    padding-top: 45px;
}

.ms-auto li:hover {
    border-top: 2px solid blue;
    color: #0065FC !important;
}

.ms-auto li a:hover {
    color: #0065FC;
}


.intro {
    margin-left: 55px;
    flex-direction: column;
}

.intro-text h1 {
    font-weight: 700;
    font-size: 22px;
    color: black;
    margin-bottom: 0;
}

.intro-text p {
    font-weight: 400;
    font-size: 16px;
    margin-top: 8px;
}

.search-bar {
    height: 49px;
    padding-bottom: 32px;
}

.localisation-logo {
    width: 50px;
    background-color: #f2f2f2;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.localisation-logo i {
    margin: auto;
    font-size: 18px;
}

.search-input input {
    padding-left: 17px;
    font-weight: 700;
    font-size: 18px;
    border: 1px solid #F2F2F2;
}

.search-input input::placeholder {
    font-weight: 700;
    font-size: 18px;
    color: black;
}

.search-logo {
    display: none;
}

.search-button {
    background: #0065FC;
    border-radius: 0 15px 15px 0;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.search-text {
    height: 49px;
    color: white;
    font-weight: 700;
    font-size: 18px;
    margin: auto;
}

.search-text p {
    margin: auto;
}

.filters {
    margin-left: 60px;
}

.container-filter {
    width: 75%;
}

.container-filter h2 {
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}

.container-filter i {
    padding-right: 10px;
    color: #0065FC;
}

.container-filter button {
    font-weight: 700;
    font-size: 17px;
    border-radius: 25px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    border: 2px solid #f2f2f2;
}

.container-filter button:hover {
    background-color: #DEEBFF;
}

.container-filter .buttons {
    flex: 1 0 100%;
    display: flex;
    justify-content: space-around;
}

.info-logo i::before {
    margin: auto;
}

.info-logo i {
    font-size: 10px;
    color: #0065FC;
    width: 24px;
    height: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 24px;
}

.info-all {
    align-items: center;
}

.info-text {
    padding-left: 11px;
}

.info-text p {
    font-weight: 400;
    font-size: 16px;
    color: black;
}

.container-hebergements {
    width: 100%;
    flex-direction: row;
    margin-top: 30px;
}



.limit-cards {
    width: 70%;
    flex-wrap: wrap;
    height: auto;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-left: 50px;
}

.limit-cards h2 {
    font-weight: 700;
    font-size: 22px;
    color: black;
    margin-left: 40px;
    margin-top: 42px;
    margin-bottom: 0;
    height: 26px;
}


.container-cards-hebergements {
    flex-wrap: wrap;
    margin: 10px 20px auto 20px;

}

.link-card {
    flex: 1 0 25%;
    background: white;
    margin: 0.5rem;
    border-radius: 20px;
    border: 5px solid white;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.bg-form {
    background-size: cover;
    background-position-y: 40%;
}


.card-img {
    height: 140px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


.container-card {
    margin-left: 10px;
}

.container-card h3 {
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    margin: 5px auto 3px auto;
}

.container-card p {
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    margin: 0 auto 9px auto;
}

.container-card .four-stars {
    margin-bottom: 5px;
}

.four-stars .fa-star:hover {
    color: #0065FC;
}

.four-stars .fa-star:hover~.fa-star {
    color: #0065FC;
}

.four-stars {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: start;
}

.four-stars i {
    font-size: 12px;
    padding-right: 2px;
    color: #0065FC;
}

.cards-textfin {
    margin-left: 50px;
    font-weight: 700;
    font-size: 18px;
    color: black;
}


.limit-cards-hor {
    width: 30%;
    height: auto;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-left: 30px;
    margin-right: 50px;
}

.titre-pop {
    margin-top: 22px;
}

.titre-pop h2 {
    font-weight: 700;
    font-size: 22px;
    color: black;
    margin-left: 37px;
}

.titre-pop i {
    margin: auto 42px auto auto;
    color: #0065FC;
}

.container-cards-horizontal {
    flex-direction: column;
    width: 100%;
}

.link-card-hor {
    flex: 1 0 100%;
    background: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    height: auto;
    border-radius: 20px;
    border: 5px solid white;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));

}


.card-img-hor {
    width: 50%;
    height: 134px;
    border-radius: 20px 0 0 20px;
}

.bg-form-hor {
    background-size: cover;
    background-position-x: 40%;
}

.container-card-hor {
    width: 60%;
    background-color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left: 10px;
}

.container-card-hor h3 {
    font-weight: 700;
    font-size: 16px;
    color: black;
    margin-bottom: 0;
}

.container-card-hor p {
    font-weight: 400;
    font-size: 14px;
    color: black;
    margin-top: 7px;
}

.container-card-hor .four-stars {
    position: absolute;
    bottom: 8px;
}

.limit-cards-vert h2 {
    font-weight: 700;
    font-size: 22px;
    color: black;
}

.limit-cards-vert {
    margin-top: 50px;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.container-cards-vertical {
    justify-content: space-between;
    width: 100%;
}

.link-card-vert {
    width: 20%;
    height: 100%;
    background: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}


.card-img-vert {
    height: 380px;
    border-radius: 20px 20px 0 0;
}

.container-card-vert {
    min-height: 56px;
    text-align: start;
}


.container-card-vert h3 {
    font-weight: 700;
    font-size: 16px;
    color: black;
    margin: 15px;
}

.limit-footer {
    margin-left: 50px;
    margin-right: 50px;
    background: #f2f2f2;
}

.row-footer {
    width: 70%;
    justify-content: space-between;
    padding-bottom: 50px;
    margin-left: 60px;
}

.row-footer h3 {
    font-weight: 700;
    font-size: 18px;
    color: black;
    margin-top: 45px;
}

.row-footer ul {
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
}


.row-footer li {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

@media (max-width: 991px) {
    body {
        max-width: 991px;
        margin: auto;

    }

    .container-filter {
        width: 90%;
    }

    .container-hebergements {
        flex-direction: column;
    }

    .limit-cards {
        width: auto;
        margin: auto 50px auto 50px;
    }

    .limit-cards h2 {
        margin-left: 40px;
    }

    .container-cards-hebergements {
        margin: 10px 30px auto 30px;
    }

    .cards-textfin {
        margin-left: 40px;
    }

    .limit-cards-hor {
        width: auto;
        margin-left: 50px;
        margin-top: 50px;
        padding-bottom: 35px;
    }

    .titre-pop h2 {
        margin-left: 40px;
    }

    .container-cards-horizontal {
        flex-direction: row;
        width: auto;
        margin-left: 30px;
        margin-right: 10px;
    }


    .link-card-hor {
        flex: 1 0 25%;
        background: white;
        margin-left: 0;
        height: auto;
        border-radius: 20px;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    }

    .link-card-vert {
        width: 100%;
        margin: 0.5rem;
        background: white;
        border-radius: 20px;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    }

    .card-img-vert {
        height: 211px;
    }

    .limit-cards-vert {
        margin-left: 50px;
        margin-right: 0px;
        flex-direction: column;
    }

    .limit-cards-vert h2 {
        margin-left: 15px;
    }



    .container-card-vert {
        height: 56px;
        display: flex;
        align-items: center;
    }

    .row-footer {
        width: 75%;
    }

}

@media (max-width: 767px) {
    body {
        max-width: 767px;
        background-color: white;
        margin: 0;
    }

    main {
        width: 100%;
        margin: 0;
    }


    .navbar-logo {
        margin: auto;
        margin-top: 48px;
    }

    .ms-auto {
        margin: auto;
    }


    .navbar {
        flex-direction: column;
        padding-bottom: 20px;
    }

    .navbar img {
        width: 61px;
        height: 19px;
        margin: auto;
    }

    .navbar ul {
        display: flex;
        list-style-type: none;
    }

    .navbar li {
        margin-right: 77px;
        font-weight: 400;
        font-size: 16px;
        color: black;
    }

    .ms-auto li:hover {
        border-top: 2px solid blue;
        color: blue;
    }

    .intro {
        width: 100%;
        margin: auto;
    }

    .intro-text {
        margin-left: 20px;
    }

    .search-bar {
        margin-left: 20px;
        margin-right: 20px;
    }

    .search-logo {
        display: block;
        margin: auto;
        padding-left: 5px;
        padding-right: 8px;
        font-size: 16px;
        color: white;
    }

    .search-text {
        display: none;
    }

    .localisation-logo {
        background-color: #f2f2f2;
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
    }

    .localisation-logo i {
        margin: auto;
        font-size: 18px;
    }

    .search-input {
        width: 100%;
    }

    .search-input input {
        width: 100%;
        padding-left: 17px;
        font-weight: 700;
        font-size: 18px;
        border: 1px solid #F2F2F2;
    }

    .search-input input::placeholder {
        font-weight: 700;
        font-size: 18px;
        color: black;
    }

    .search-text {
        width: 100%;
        height: 49px;
        color: white;
        font-weight: 700;
        font-size: 18px;
        margin: auto;
    }

    .search-text p {
        margin: auto;
    }

    .filters {
        margin: 0;
        width: 100%;
    }

    .container-filter {
        flex-direction: column;
        margin-left: 20px;
    }

    .container-filter .buttons {
        margin: auto;
        flex-wrap: wrap;
    }

    .container-filter button {
        width: 160px;
        text-align: start;
        font-weight: 700;
        font-size: 17px;
        border-radius: 25px;
        padding-top: 14px;
        padding-bottom: 14px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: white;
        border: 2px solid #f2f2f2;
    }

    .container-hebergements {
        flex-direction: column-reverse;
    }

    .container-cards-horizontal {
        flex-direction: column;
    }

    .limit-cards {
        flex-direction: column;
        margin: 0;
        background-color: white;
    }

    .cards-textfin {
        display: none;
    }

    .limit-cards-hor {
        width: 100%;
        margin: 0;
    }

    .container-cards-hebergements {
        margin: 1rem;
        flex-direction: column;
    }

    .limit-cards {
        width: 100%;
    }

    .limit-cards h2 {
        margin: 50px auto auto 20px;
    }

    .limit-cards-vert {
        width: 100%;
        margin: 0;
    }

    .titre-pop h2 {
        margin-left: 20px;
    }

    .titre-pop i {
        margin: auto 25px auto auto;
    }

    .container-cards-horizontal {
        margin: 1.5rem;
    }

    .activity {
        margin-right: 20px;
        margin-left: 20px;
    }

    .link-card {
        margin-right: 0;
    }

    .link-card-hor {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .link-card-vert {
        margin: auto;
        margin-bottom: 20px;
    }

    .limit-cards-vert h2 {
        margin-left: 0px;
    }

    .container-cards-vertical {
        flex-direction: column;
    }

    .card-vert {
        width: 100%;
    }
    .bg-form{ 
        background-position-y: 50%;
    }
    .limit-footer {
        margin: 0;
    }

    .row-footer {
        flex-direction: column;
    }
}